In [32]:
import pandas as pd
import numpy as np

In [33]:
DataFrame = pd.read_csv('Names and ID.csv')

In [34]:
list(DataFrame.columns)

['Id', 'Name']

In [35]:
DataFrame = DataFrame.drop(columns = ['Name'], axis = 1)

In [36]:
DataFrame = DataFrame.rename(columns = {'Id': 'ID'})

In [37]:
DataFrame.sort_values('ID', ascending = True)

    ID
0  101
1  102
2  103
3  104
4  105

In [38]:
oida = []
counter = 0

for i in range(len(DataFrame.index)):
    oida.append(DataFrame['ID'].values[counter])
    counter += 1
    
oida_list = []

counter = 0

for i in range(len(oida)):
    oida_list.append(oida[counter].tolist())
    counter += 1

# Importing Table B

In [39]:
Data_Frame_2 = pd.read_csv("Names and ID 2.csv")

In [40]:
Data_Frame_2 = Data_Frame_2.drop(columns = 'Names')

In [41]:
record_list = []

for chunk in pd.read_csv("Names and ID 2.csv", chunksize=5000):
    record_list.append(chunk)
    
len(record_list[0]['ID'].tolist())

5

In [42]:
#record_list[0]
list_a = []


for i in range(len(record_list[0])):
    list_a = record_list[0]['ID'].tolist()
    
def comparison_test(oida_list, list_a_u):
    oida = oida_list
    list_a_u = list_a
    
    return oida_list, list_a

oida_and_list = comparison_test(oida_list, list_a)

In [43]:
for x in oida_and_list[0]:
    print(x)

101
102
103
104
105

In [44]:
match_found_list = []

for i in range(len(oida_and_list[1])):
    if oida_and_list[1][i] not in oida_and_list[0]:
        #print("No match found so far!", i)
        pass
    else :
        match_found_list.append(oida_and_list[1][i])
        print('Match found!', oida_and_list[1][i])

Match found! 101
Match found! 102
Match found! 105